@model WebApp.Models.ActualInDay

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ActualInDay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActualInMonthD.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActualInMonthD.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayInMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayInMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfShipments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfShipments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
