@model WebApp.Models.DepartureArrivalFilter
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Добавить новый", "Create")
</p>
<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Отправление </label>
        @Html.DropDownList("departure", Model.Departure as SelectList,
                htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Прибытие </label>
        @Html.DropDownList("arrival", Model.Arrival as SelectList,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Фильтр" class="btn btn-default" />
    </div>
</form>
<table class="table">
    <tr>

        <th rowspan="2">
            Отправление
        </th>
        <th rowspan="2">
            Прибытие
        </th>

        <th rowspan="2">
            Планируемое количество перемещений
        </th>

        <th colspan="31">
           <p align="center"> Фактическое количество по дням </p>
        </th>
        
        <th rowspan="2">Фактическое количество</th>
        <th rowspan="2"></th>
    </tr>
    <tr>
        
        @for (var i = 1; i <= 31; i++)
        {
            <th>
                @i
            </th>
        }
        
    </tr>

    @foreach (var item in Model.Actuals)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.DepartureCity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalCity.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PlanedNumberOfShipments)
            </td>

            @foreach (var subItem in item.ActualInMonthForThisWay.ActualInDays)
            {
                <td>@subItem</td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.ActualNumberOfShipment)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Детали", "Details", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
